/* Configuração padrao das páginas */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: 0;
}

body {
    width: 100vw;
    height: 100vw;
    background-image: url("../../img/2.png");
    background-size: 100%;
    background-repeat: 2;
}

.container {
    position: relative;
}

.imagem-de-fundo {
    width: 100%; 
    height: 30vh;

}

.imagem-sobreposta {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;

}
/* CSS unico da página jogos */
.tags__de__jogos{
    width: 90%;
    padding: 8px;
    /* display: flex; */
}
.img__nome__game{
    width: 200px;
    height: 300px;
    border: 1px solid purple;
    background-color: aliceblue;
    margin: 15px;
}
.img__nome__game a{
text-decoration: none;
color: black;
}
.img__game{
width: 200px;
height: 80%;
}
.nome__game{
    width: 200px;
    height: 20%;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.img__do__jogo{
    width: 200px;
    height: 100%;
}
.titulo__game{
    font-weight: bold;
}