/* Configuração padrao das páginas */
:root{
    --tipo_fonte:'Luckiest Guy', cursive; 
}
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--tipo_fonte);
    -webkit-text-stroke-width: 0.1px; 
    -webkit-text-stroke-color: #ffffff;
}


body {
    width: 100vw;    
    background-image: url("../../img/2.png");
    background-size: 100%;   
}



.imagem-de-fundo {
    width: 100%;
    height: 15vh;
}

.imagem-sobreposta {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;

}

/* Configuração exclusiva da página jokenpokemon */

/* Configuração do menú */
.nav-item{
    list-style: none;
    text-align: center;
    font-family: var(--tipo_fonte);
}

.nav-link{
    text-decoration: none;
    font-size: 22px;
    -webkit-text-stroke-width: 0.1px; 
    -webkit-text-stroke-color: #ffffff;
    color: black;
    font-weight: bold;
    transition: text-shadow 1s;
}
.nav-link:hover{
    text-shadow: 0px 0px 12px purple;
    color: black;
}

/* link modal */
.link__modal{
    color: black;
    text-decoration: none;
}
.link__modal:hover{
    color: black;
    text-decoration: none;
}
.modal-content{
    background-image: linear-gradient(red, white, gray);
}

/* Grid inicio */
#show__game{
    display: none;

}
.show__game{
    width: 96%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 250px 250px;
    grid-template-areas: 
    "jogador oponente"
    " pontuacao pontuacao"    
    ;
    background-image: linear-gradient(red, white, gray);
    margin-bottom: 60px;
    border-radius: 15px;
}


.jogador{
    grid-area: jogador;
    width: 100%;
}
.pontuacao{
    grid-area: pontuacao;
    width: 100%;
}
.oponente{
    grid-area: oponente;
    width: 100%;
} 
/* grid fiinal */

/* Pokemon lista inicio */

#pokemon__lista {

width: 96%;
    display: flex;
    margin: 20px auto;

    overflow: scroll;
    height: 230px;
    background-image: linear-gradient(gray, white, gray);
}

.selecionar__personagem {

    height: 100px;

    text-align: center;
    padding-top: 15px;
    border-radius: 15px;


}


.imgPers {
    border-radius: 20px;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 10px gray;
    transition: all 1s;
    

}

.imgPers:hover {
    transform: scale(1.2);
}

.imgPers img {
border-radius: 15px;
}


/* Pokemon lista final */

.titulo__pokemon{
    font-family: var(--tipo_fonte);
}

#acao__de__jogo {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(gray, white, gray);
}


#retorno__aposta {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(gray, white, gray);
}

#pontos__jogadores {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-image: linear-gradient(gray, white, gray);
} 

#sair__jogo {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-image: linear-gradient(gray, white, gray);
}


.btn__aposta {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.img__aposta {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.resutados__aposta {
    width: 60px;
    height: 60px;
    /* border: 1px solid purple; */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pontos__jogador__oponente {
    width: 20%;
    height: 100%;
    /* border: 1px solid purple; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagens__apostadas {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
}

.botoesA {
    width: 95%;
    height: 30px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
}

#retorno__pontos__aposta {
    display: flex;
    align-items: center;
    justify-content: center;
}
#retorno__jogador{
    transform: rotateY(180deg);
    animation: upDownJogador 2s infinite;
}
@keyframes upDownJogador {

    0% {
        margin-top: -10%
    }

    50% {
        margin-top: 10%
    }

    100% {
        margin-top: -10%
    }
}
#retorno__oponente{
    animation: upDownOponente 1.5s infinite; 
}
@keyframes upDownOponente {

    0% {
        margin-top: 10%
    }

    50% {
        margin-top: -10%
    }

    100% {
        margin-top: 10%
    }
}




.falas{
    width: 96%;
    height: 100px;
    text-align: center;
    margin: 3px auto;
    box-shadow: 0px 0px 5px black;
    font-size: 16px;
    font-family: var(--tipo_fonte);
}
.oponente, .jogador{
    width: 100%;
}
.imagens__jogadores{
    background-image: url(./imgjokenpo/meteoro.gif);
    width: 90%;
    height: 130px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin-top: 10px;
    overflow: hidden;
}
.rodape {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    display: flex;
    padding: 5px;
    
}
.rodape h5{
    display: none;
}

@media(min-width: 1024px){

    .imagem-de-fundo {
        height: 30vh;    
    }
    
    .imagem-sobreposta {
        width: 300px;
    
    }
    

    .show__game{
        width: 96%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 350px;
        grid-template-areas: 
        "jogador pontuacao oponente"       
        ;
        background-image: linear-gradient(red, white, gray);
    }
    .falas{   
        width: 90%;     
        height: 100px;    
        font-size: 23px; 
        margin-top: 30px; 
        border-radius: 6px;    
    }
    #acao__de__jogo {
        width: 100%;
        height: 100px;      
    }
    
    
    #retorno__aposta {
        width: 100%;
        height: 100px;      
    }
    
    #pontos__jogadores {
        width: 100%;
        height: 50px;       
    }
    
    #sair__jogo {
        width: 100%;
        height: 50px;      
    }
           
    .btn__aposta {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: none;
    }
    
    .img__aposta {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    
    .resutados__aposta {
        width: 80px;
        height: 80px;        
    }
   
    
    .imagens__apostadas {
        width: 80px;
        height: 80px;       
    }
    .imagens__jogadores{
        
        height: 200px;
    }

    #retorno__jogador, #retorno__oponente{
        width: 200px;
    }
    .titulo__pokemon{
        font-size: 35px;
        font-weight: bold;
        font-family: var(--tipo_fonte);
    }
    .rodape h5{
        display: block;
    }    
   
}
